# build output
dist/
.vercel/
# generated types
.astro/
toc/
# dependencies
node_modules/
.wrangler/
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.env
.env.production
.tgz

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
pnpm-lock.yaml
